*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

main{
    text-align: center;
    margin-top: 3em;
}

.circles{
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #fff;
}

#purple-green{
    background: rgb(136,240,39);
    background: linear-gradient(45deg, rgba(136,240,39,1) 50%, rgba(147,0,255,1) 50%);
}

#blue-yellow{
    background: rgb(39,170,240);
    background: linear-gradient(45deg, rgba(39,170,240,1) 50%, rgba(255,216,0,1) 50%);
}

#orange-black{
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 50%, rgba(255,147,0,1) 50%);
}

#cyan-blue{
    background: rgb(54,89,249);
    background: linear-gradient(45deg, rgba(54,89,249,1) 50%, rgba(0,255,246,1) 50%);
}

#purple-green:hover, 
#blue-yellow:hover, 
#orange-black:hover, 
#cyan-blue:hover{
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(212,212,212,1);
    box-shadow: 4px 4px 5px 0px rgba(212,212,212,1);
    
}

.btn-reset{
    margin-top: 3em;
    padding: 1em 3em;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}